.Card {
    border-radius: var(--border-radius);
}

.Card-title {
    margin-bottom: 0;    
}

.Card--goal {
    margin-bottom: calc(var(--size) * 2);
}

.Card--action {
    background-color: var(--color-bg-light);
    padding: var(--size);
    margin-bottom: calc(var(--size) / 2);
}

.Card--action .Card-link {
    display: flex;
    margin-bottom: valc(var(--size) / 2);
}

.Card--note {
    margin-bottom: calc(var(--size) * 2);
}

.Card--note .Card-link {
    color: var(--color-text);
}
