/* navigation */

nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

@media (min-width: 40rem) {
    nav {
	flex-direction: column;
	margin: 0.2rem;
	position: sticky;
	top: 0;
	left: 0;
    }
    nav-item {
	width: 100%;
    }
}

nav-item a {
    display: flex;
    padding: var(--size);
    backgroud-color: transparent;
    transition: var(--transition);
    border-radius: var(--border-radius);
}

nav-item a:hover {
    background-color: var(--color-bg-light);
}
