/* navigation */

nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: var(--color-bg);
}

@media (min-width: 40rem) {
    nav {
	flex-direction: column;
    }
    nav-item {
	width: 100%;
    }
}
nav-item {
    margin: calc(var(--size) / 2);
}
nav-item a {
    display: flex;
    padding: var(--size);
    backgroud-color: transparent;
    transition: var(--transition);
    border-radius: var(--border-radius);
}
nav-item a:hover {
    background-color: var(--color-bg-light);
}
nav-item[active] {
    background-color: var(--color-bg-light);
}
