.Grid {
    display: flex;
    flex-wrap: wrap;
}

.Grid-item {
    padding: var(--size);
}



.Grid--home {
    width: 100%;
    justify-content: center;
    align-items: center;
}

.Grid--home .Grid-item {
    flex-grow: 1;
    flex-basis: 30%;
}
