/* variables */
:root {
    --size: 1rem;

    --color-blue: blue;
    --color-dark: black;
    --color-bg: white;
    --color-bg-light: whitesmoke;
    --color-bg-dark: darkgray;
    --color-link: var(--color-blue);
    --color-link-visited: #800080;
    --color-text: var(--color-dark);
    --color-text-light: darkgray;
    /* used in web components */
    --color-button-create: green;
    --color-button-create-brackground: transparent;

    --color-tag-1: hotpink;
    --color-tag-2: green;

    --transition: background-color 200ms ease-in-out;
    --border-radius: 0.2rem;
}

.Site--dark {
    --color-bg: var(--color-bg-dark);
    --color-text: var(--color-light);
    --color-link: var(--color-wite);
}
